@tailwind base;
@tailwind components;
@tailwind utilities;

*{
  @apply !font-Bricolage
}

@font-face {
  font-family: 'Bricolage Grotesque';
  src: url('./../fonts/BricolageGrotesque-Bold.woff2') format('woff2'),
      url('./../fonts/BricolageGrotesque-Bold.woff') format('woff');
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Bricolage Grotesque 24pt';
  src: url('./../fonts/BricolageGrotesque24pt-ExtraLight.woff2') format('woff2'),
      url('./../fonts/BricolageGrotesque24pt-ExtraLight.woff') format('woff');
  font-weight: 200;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Bricolage Grotesque 24pt';
  src: url('./../fonts/BricolageGrotesque24pt-Light.woff2') format('woff2'),
      url('./../fonts/BricolageGrotesque24pt-Light.woff') format('woff');
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Bricolage Grotesque 24pt Condensed';
  src: url('./../fonts/BricolageGrotesque24ptCondensed-ExtraLight.woff2') format('woff2'),
      url('./../fonts/BricolageGrotesque24ptCondensed-ExtraLight.woff') format('woff');
  font-weight: 200;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Bricolage Grotesque 24pt Condensed';
  src: url('./../fonts/BricolageGrotesque24ptCondensed-ExtraBold.woff2') format('woff2'),
      url('./../fonts/BricolageGrotesque24ptCondensed-ExtraBold.woff') format('woff');
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Bricolage Grotesque 24pt';
  src: url('./../fonts/BricolageGrotesque24pt-Regular.woff2') format('woff2'),
      url('./../fonts/BricolageGrotesque24pt-Regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Bricolage Grotesque 24pt';
  src: url('./../fonts/BricolageGrotesque24pt-Medium.woff2') format('woff2'),
      url('./../fonts/BricolageGrotesque24pt-Medium.woff') format('woff');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Bricolage Grotesque 24pt Condensed';
  src: url('./../fonts/BricolageGrotesque24ptCondensed-Bold.woff2') format('woff2'),
      url('./../fonts/BricolageGrotesque24ptCondensed-Bold.woff') format('woff');
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Bricolage Grotesque 24pt';
  src: url('./../fonts/BricolageGrotesque24pt-SemiBold.woff2') format('woff2'),
      url('./../fonts/BricolageGrotesque24pt-SemiBold.woff') format('woff');
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Bricolage Grotesque 24pt SemiCondensed';
  src: url('./../fonts/BricolageGrotesque24ptSemiCondensed-Bold.woff2') format('woff2'),
      url('./../fonts/BricolageGrotesque24ptSemiCondensed-Bold.woff') format('woff');
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Bricolage Grotesque 24pt Condensed';
  src: url('./../fonts/BricolageGrotesque24ptCondensed-Medium.woff2') format('woff2'),
      url('./../fonts/BricolageGrotesque24ptCondensed-Medium.woff') format('woff');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Bricolage Grotesque 24pt Condensed';
  src: url('./../fonts/BricolageGrotesque24ptCondensed-Light.woff2') format('woff2'),
      url('./../fonts/BricolageGrotesque24ptCondensed-Light.woff') format('woff');
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Bricolage Grotesque 24pt Condensed';
  src: url('./../fonts/BricolageGrotesque24ptCondensed-Regular.woff2') format('woff2'),
      url('./../fonts/BricolageGrotesque24ptCondensed-Regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Bricolage Grotesque 24pt Condensed';
  src: url('./../fonts/BricolageGrotesque24ptCondensed-SemiBold.woff2') format('woff2'),
      url('./../fonts/BricolageGrotesque24ptCondensed-SemiBold.woff') format('woff');
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Bricolage Grotesque 24pt SemiCondensed';
  src: url('./../fonts/BricolageGrotesque24ptSemiCondensed-ExtraBold.woff2') format('woff2'),
      url('./../fonts/BricolageGrotesque24ptSemiCondensed-ExtraBold.woff') format('woff');
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Bricolage Grotesque 24pt SemiCondensed';
  src: url('./../fonts/BricolageGrotesque24ptSemiCondensed-Regular.woff2') format('woff2'),
      url('./../fonts/BricolageGrotesque24ptSemiCondensed-Regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Bricolage Grotesque 36pt';
  src: url('./../fonts/BricolageGrotesque36pt-Regular.woff2') format('woff2'),
      url('./../fonts/BricolageGrotesque36pt-Regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Bricolage Grotesque 36pt';
  src: url('./../fonts/BricolageGrotesque36pt-Light.woff2') format('woff2'),
      url('./../fonts/BricolageGrotesque36pt-Light.woff') format('woff');
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Bricolage Grotesque 24pt SemiCondensed';
  src: url('./../fonts/BricolageGrotesque24ptSemiCondensed-Light.woff2') format('woff2'),
      url('./../fonts/BricolageGrotesque24ptSemiCondensed-Light.woff') format('woff');
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Bricolage Grotesque 36pt';
  src: url('./../fonts/BricolageGrotesque36pt-SemiBold.woff2') format('woff2'),
      url('./../fonts/BricolageGrotesque36pt-SemiBold.woff') format('woff');
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Bricolage Grotesque 24pt SemiCondensed';
  src: url('./../fonts/BricolageGrotesque24ptSemiCondensed-Medium.woff2') format('woff2'),
      url('./../fonts/BricolageGrotesque24ptSemiCondensed-Medium.woff') format('woff');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Bricolage Grotesque 24pt SemiCondensed';
  src: url('./../fonts/BricolageGrotesque24ptSemiCondensed-SemiBold.woff2') format('woff2'),
      url('./../fonts/BricolageGrotesque24ptSemiCondensed-SemiBold.woff') format('woff');
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Bricolage Grotesque 36pt';
  src: url('./../fonts/BricolageGrotesque36pt-Medium.woff2') format('woff2'),
      url('./../fonts/BricolageGrotesque36pt-Medium.woff') format('woff');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Bricolage Grotesque 24pt SemiCondensed';
  src: url('./../fonts/BricolageGrotesque24ptSemiCondensed-ExtraLight.woff2') format('woff2'),
      url('./../fonts/BricolageGrotesque24ptSemiCondensed-ExtraLight.woff') format('woff');
  font-weight: 200;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Bricolage Grotesque 48pt';
  src: url('./../fonts/BricolageGrotesque48pt-Light.woff2') format('woff2'),
      url('./../fonts/BricolageGrotesque48pt-Light.woff') format('woff');
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Bricolage Grotesque Condensed';
  src: url('./../fonts/BricolageGrotesqueCondensed-Medium.woff2') format('woff2'),
      url('./../fonts/BricolageGrotesqueCondensed-Medium.woff') format('woff');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Bricolage Grotesque Condensed';
  src: url('./../fonts/BricolageGrotesqueCondensed-Regular.woff2') format('woff2'),
      url('./../fonts/BricolageGrotesqueCondensed-Regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Bricolage Grotesque Condensed';
  src: url('./../fonts/BricolageGrotesqueCondensed-SemiBold.woff2') format('woff2'),
      url('./../fonts/BricolageGrotesqueCondensed-SemiBold.woff') format('woff');
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Bricolage Grotesque SemiCondensed';
  src: url('./../fonts/BricolageGrotesqueSemiCondensed-Bold.woff2') format('woff2'),
      url('./../fonts/BricolageGrotesqueSemiCondensed-Bold.woff') format('woff');
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Bricolage Grotesque SemiCondensed';
  src: url('./../fonts/BricolageGrotesqueSemiCondensed-Medium.woff2') format('woff2'),
      url('./../fonts/BricolageGrotesqueSemiCondensed-Medium.woff') format('woff');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Bricolage Grotesque SemiCondensed';
  src: url('./../fonts/BricolageGrotesqueSemiCondensed-ExtraBold.woff2') format('woff2'),
      url('./../fonts/BricolageGrotesqueSemiCondensed-ExtraBold.woff') format('woff');
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Bricolage Grotesque';
  src: url('./../fonts/BricolageGrotesque-ExtraLight.woff2') format('woff2'),
      url('./../fonts/BricolageGrotesque-ExtraLight.woff') format('woff');
  font-weight: 200;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Bricolage Grotesque';
  src: url('./../fonts/BricolageGrotesque-ExtraBold.woff2') format('woff2'),
      url('./../fonts/BricolageGrotesque-ExtraBold.woff') format('woff');
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Bricolage Grotesque SemiCondensed';
  src: url('./../fonts/BricolageGrotesqueSemiCondensed-Regular.woff2') format('woff2'),
      url('./../fonts/BricolageGrotesqueSemiCondensed-Regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Bricolage Grotesque SemiCondensed';
  src: url('./../fonts/BricolageGrotesqueSemiCondensed-ExtraLight.woff2') format('woff2'),
      url('./../fonts/BricolageGrotesqueSemiCondensed-ExtraLight.woff') format('woff');
  font-weight: 200;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Bricolage Grotesque SemiCondensed';
  src: url('./../fonts/BricolageGrotesqueSemiCondensed-SemiBold.woff2') format('woff2'),
      url('./../fonts/BricolageGrotesqueSemiCondensed-SemiBold.woff') format('woff');
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Bricolage Grotesque SemiCondensed';
  src: url('./../fonts/BricolageGrotesqueSemiCondensed-Light.woff2') format('woff2'),
      url('./../fonts/BricolageGrotesqueSemiCondensed-Light.woff') format('woff');
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Bricolage Grotesque';
  src: url('./../fonts/BricolageGrotesque-SemiBold.woff2') format('woff2'),
      url('./../fonts/BricolageGrotesque-SemiBold.woff') format('woff');
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Bricolage Grotesque Condensed';
  src: url('./../fonts/BricolageGrotesqueCondensed-ExtraBold.woff2') format('woff2'),
      url('./../fonts/BricolageGrotesqueCondensed-ExtraBold.woff') format('woff');
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Bricolage Grotesque';
  src: url('./../fonts/BricolageGrotesque-Regular.woff2') format('woff2'),
      url('./../fonts/BricolageGrotesque-Regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Bricolage Grotesque';
  src: url('./../fonts/BricolageGrotesque-Light.woff2') format('woff2'),
      url('./../fonts/BricolageGrotesque-Light.woff') format('woff');
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Bricolage Grotesque Condensed';
  src: url('./../fonts/BricolageGrotesqueCondensed-Bold.woff2') format('woff2'),
      url('./../fonts/BricolageGrotesqueCondensed-Bold.woff') format('woff');
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Bricolage Grotesque';
  src: url('./../fonts/BricolageGrotesque-Medium.woff2') format('woff2'),
      url('./../fonts/BricolageGrotesque-Medium.woff') format('woff');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Bricolage Grotesque Condensed';
  src: url('./../fonts/BricolageGrotesqueCondensed-Light.woff2') format('woff2'),
      url('./../fonts/BricolageGrotesqueCondensed-Light.woff') format('woff');
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Bricolage Grotesque Condensed';
  src: url('./../fonts/BricolageGrotesqueCondensed-ExtraLight.woff2') format('woff2'),
      url('./../fonts/BricolageGrotesqueCondensed-ExtraLight.woff') format('woff');
  font-weight: 200;
  font-style: normal;
  font-display: swap;
}







